zadania_dodatkowe_typy_zmienne.zip
.idea/
06_files/05.py
06_files/6.1.py
06_files/6.2.py
06_files/6.3_1.py
06_files/6.5.py
06_files/6_7.py
06_files/6_7_1.py
06_files/6.8i.py
06_files/xxx.txt
06_files/a1.csv
07_modules/__pycache__/
08_exceptions/base_ex_04_mean.py
08_exceptions/ex_05.py
08_exceptions/test.py
10_classes/test.py